.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.align {
    justify-content: center;
    align-items: center;
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    width: 65%;
    height: auto;
}